<h1>All Users</h1>

<div class="main-container">
<% @users.each do |user| %>
  <div class="users-wrapper">
    <div class="img-cont">
    <% if @user.present? %>
      <%= image_tag @user.photo, :size => "70x80", alt: "user photo" %>
    <% end %>
    </div>
    <div class="user-details">
      <h1><%= link_to user.name, user, class: "link-button"  %></h1>
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
<%end%>
</div>